#root {
  width: 100%;
  /*במקום max-width: 1280px*/
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* top:30px; */
  height: 80vh;
}


.pageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #e7f8fa;
  color: white;
  padding: 40px;
  border-radius: 12px;
  width: 90vw;
  max-width: 90vw;
  height: 95vh;
  max-height: 95vh;
  margin: -35px 25px 0px 25px;
  top: -20px;
  position: relative;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

}

.upload-button {
  position: sticky;
  top: -40px;
  left: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  color: #69737d;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1000;

}

.theme-button {
  position: sticky;
  top: -40px;
  left: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #69737d;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.upload-button:hover {
  background-color: #69737d;
  color: white;
}

.theme-button:hover {
  background-color: #69737d;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 20px;
  gap: 20px;
  align-items: center;
}

.images-section {
  width: 30%;
  max-height: 500px;
  /* גובה קבוע */
  overflow-y: auto;
  /* גלילה פנימית */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.upload-section {
  width: 50%;
  text-align: center;
}

.upload-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.upload-btn:hover {
  background-color: #0056b3;
}

/* פופ-אפ */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  
}

html,
body {
  height: 100vh;
  /* margin: 10px; */
  /* overflow: hidden; */
  /* background-image: url('C:\Users\USER\Pictures\פרויקטים שנה ב\פרקטיקום לוח שנה\user_client\src\assets\1Q3A9348ג.jpg'); */

}

.calendar-container::before {
  background-image: url('C:\Users\USER\Pictures\פרויקטים שנה ב\פרקטיקום לוח שנה\user_client\src\assets\1Q3A9348ג.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  /* שקיפות של 40% */
  filter: blur(5px);
  /* טשטוש של 5 פיקסלים */
  z-index: -1;
}

.calendar-container {
  top: 30px;
  height: 100%;
}

.calendar-wrapper {
  width: 100vw;
  /* כל הרוחב */
  height: 100vh;
  /* כל הגובה */
  overflow: auto;
  /* גלילה רק אם צריך */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.fc {
  width: 100%;
  height: 50%;
  /* top:60px; */

}

.fc-daygrid-day {
  min-width: 300px !important;
  /* גודל כל יום ברוחב */
  min-height: 300px !important;
  /* גובה כל יום */
  align-items: center;
  justify-content: center;
  align-content: center;
}

.fc-scrollgrid {
  overflow: auto !important;
  /* גלילה פנימית ללוח */
}


.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, #00c6ff, #642cb8);
  color: white;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 90%;
  margin: 35px 0px 0px 0px;
  position: relative;
}

.progress-bar {
  width: 100%;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  overflow: hidden;
  margin-top: 20px;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background-color: #ffffff;
  animation: loadingAnimation 2s linear infinite;
  border-radius: 4px;
}

/* אנימציה של התקדמות אינסופית */
@keyframes loadingAnimation {
  0% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 80%;
    left: 10%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

.small-title {
  font-size: 18px;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.main-title {
  font-size: 32px;
  margin: 10px 0;
}

.date {
  font-size: 14px;
  opacity: 0.8;
  color: white;
  font-weight: normal;
}

.register-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.register-button:hover {
  background-color: #e0e0e0;
}


.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

/* 
.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:2px solid rgb(59, 6, 182); */
/* font-size: 24px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

} */

.icon-circle:hover {
  transform: scale(1.1);
}

p {
  margin-top: 8px;
  font-weight: bold;
  color: #333;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px 20px 10px 20px;

}

.icon-circle {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  color: white;
  margin-top: 25px;
}

.icon-item p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 25px;

}

.fancy-button {
  /* display: flex; */
  align-items: center;
  justify-content: end;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 999px;
  background-color: #5f5f5f;
  color: rgb(255, 255, 255);
  /* font-weight: 500; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 2%;
}

.design-button {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  min-width: 15%;
  /* gap: 8px; */
  /* padding: 12px 24px; */
  border-radius: 999px;
  background-color: #6821d3;
  color: white;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.calendarDesign-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  /* flex-direction: column; */
}

.calendarDesign-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  border: none;
  margin: 20px 0px 20px 0px;
}

.calendarDesign-box:hover {
  background-color: #e0e7ff;
  transform: translateY(-4px);
}

.calendarDesign-icon {
  font-size: 24px;
  margin-bottom: 8px;
  color: #5019b6;
}

.user-menu {
  position: fixed;
  /* שומר את הכפתור במקום קבוע על המסך */
  top: 10px;
  /* מרחק מהחלק העליון */
  left: 10px;
  /* מרחק מהצד הימני */
  z-index: 1000;
  width: 15%;
  padding: 4px 8px;
  /* position: relative; */
}

.menu-button {
  background: rgba(189, 185, 185, 0.51);
  /* border: none; */
  /* font-size: 16px; */
  cursor: pointer;
  color: #333;
  /* top: 60px; */
  align-items: center;
  /* box-sizing: border-box; */
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin:  0px 0px 0px 15px;
  width: 50px;
  /* left: 10px; */
  /* top: 35px; */

}

.dropdown-menu {
  position: relative;
  top: 20px;
  right: 0;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 15%;

}

.menu-item {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.menu-item:hover {
  background: #f0f0f0;
}

.logout {
  color: red;
  font-weight: bold;
}
.template-item {
  display: flex;
  align-items: center;
  gap: 10px; /* רווח בין תמונה לטקסט */
  min-height: 60px; /* גובה קבוע למניעת קפיצה */
  padding: 8px 0;
}



.calendar-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.calendar-title {
  margin: 40px 0;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
